@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-5">
    <h2>About Us</h2>
    <p>Welcome to LinkBook – your next stop for all things stationary!</p>

   
    <p>This project was developed as part of a Software Development course using ASP.NET Core MVC. We aim to provide students and professionals with easy access to quality and affordable stationery items.</p>
</div>

 